<html layout:decorate="~{layout}">
    <div layout:fragment="content" id="contents">

        <h1>주문하기</h1>
        <form th:action="@{/order/submit}" method="post">

            <!-- 배송 정보 입력 -->
            <div class="address-container">
                <label for="address" class="address-label">배송 주소:</label>
                <input type="text" id="address" name="address" th:value="${address}" required readonly class="address-input">
            </div>

            <!-- 주문 내역 테이블 -->
            <table class="table">
                <thead>
                <tr>
                    <th>제목</th>
                    <th>ISBN</th>
                    <th>단가</th>
                    <th>수량</th>
                    <th>합계</th>
                </tr>
                </thead>
                <tbody>
                <!-- 선택된 장바구니 아이템 반복 출력 -->
                <tr th:each="item : ${cartList}">
                    <!--상품명-->
                    <td th:text="${item.item.title}"></td>
<!--                    <td th:text="${item.item.isbn}"></td>-->
                    <!--가격-->
                    <td th:text="${item.item.price} + '원'"></td>
                    <!--수량-->
                    <td th:text="${item.count}"></td>
                    <!--해당하는 상품의 총 가격-->
                    <td th:text="${item.item.price * item.count} + '원'"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4">총 가격</td>
                    <td th:text="${cartTotalPrice} + '원'"></td>
                </tr>
                </tfoot>
            </table>

            <!-- 결제 버튼 -->
            <button type="submit">결제하기</button>
        </form>
    </div>
</html>
