<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>주문하기</title>
    <link rel="stylesheet" th:href="@{/css/order/orderStyle.css}">
</head>
<body>
<div layout:fragment="content" id="contents">

    <h1>주문하기</h1>
    <form th:action="@{/order/submit}" method="post">

        <!-- 배송 정보 입력 -->
        <div class="address-container">
            <label for="address" class="address-label">배송 주소:</label>
            <input type="text" id="address" name="address" th:value="${address}" required readonly class="address-input">
        </div>

        <!-- 주문 내역 테이블 -->
        <table class="order-table">
            <thead>
            <tr>
                <th>제목</th>
                <th>ISBN</th>
                <th>단가</th>
                <th>수량</th>
                <th>합계</th>
            </tr>
            </thead>
            <tbody>
            <!-- 선택된 장바구니 아이템 반복 출력 -->
            <tr th:each="item : ${cartList}">
                <td th:text="${item.item.title}"></td>
                <td th:text="${item.item.isbn}"></td>
                <td th:text="${item.item.price} + ' 원'"></td>
                <td th:text="${item.count}"></td>
                <td th:text="${item.item.price * item.count} + ' 원'"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">총 가격</td>
                <td th:text="${cartTotalPrice} + ' 원'"></td>
            </tr>
            </tfoot>
        </table>

        <!-- 결제 버튼 -->
        <div class="submit-container">
            <button type="submit" class="submit-button">결제하기</button>
        </div>
    </form>
</div>
</body>
</html>
