<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
        <meta charset="UTF-8">
        <title>상세 페이지</title>
        <link rel="stylesheet" th:href="@{/css/naver/detailbynaver.css}">
</head>
<body>
<div layout:fragment="content" id="contents" class="content-container">
    <div class="left-section">
    <section th:each="item : ${bookDetail.channel.items}" class="book-detail">
        <table class="book-table">
            <thead>
            <tr>
                <th colspan="2">
                    <h1 th:text="${item.title}" class="book-title"></h1>
                </th>
            </tr>
            </thead>
            <tbody>

            <!-- 도서 이미지 -->
            <tr>
                <td>도서 이미지</td>
                <td><img th:src="${item.image}" alt="도서 이미지" class="book-image"/></td>
            </tr>
            <!-- 저자 -->
            <tr>
                <td>저자</td>
                <td><span th:text="${item.author}"></span></td>
            </tr>
            <!-- 판매 가격 -->
            <tr>
                <td>판매 가격</td>
                <td><span th:text="${item.discount} +' 원'"></span></td>
            </tr>
            <!-- 출판사 -->
            <tr>
                <td>출판사</td>
                <td><span th:text="${item.publisher}"></span></td>
            </tr>
            <!-- ISBN-->
            <tr>
                <td>ISBN</td>
                <td><span th:text="${item.isbn}"></span></td>
            </tr>
            <!-- 출간일 -->
            <tr>
                <td>출간일</td>
                <td><span th:text="${item.pubdate}"></span></td>
            </tr>
            <!-- 소개 -->
            <tr>
                <td>소개</td>
                <td><span th:text="${item.description}"></span></td>
            </tr>
            </tbody>
        </table>
    </section>
    </div>

    <!-- TODO : 장바구니 기능 구현-->

    <div class="right-section">

        <section th:each="item : ${bookDetail.channel.items}" class="book-detail">
        <!-- 주문 폼으로 이동 -->

            <a th:href="@{/cart/list}" class="btn btn-primary" sec:authorize="isAuthenticated()">주문</a>

            <!-- 장바구니에 추가 -->
        <form class="d-flex" th:action="@{/cart/add}" method="post" sec:authorize="isAuthenticated()">
            <!-- hidden input field to pass the ISBN of the item -->
            <input type="hidden" name="isbn" th:value="${item.isbn}"/>
            <!-- input field for the amount of the item -->
            <div class="d-flex">
                <input class="form-control text-center me-3" id="amount" name="amount" type="number" value="1"
                       style="max-width: 3rem"/>
                <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    장바구니
                </button>
            </div>
        </form>
        <!-- 장바구니 버튼 끝-->
        </section>
    </div>
    <!-- right-section   -->

</div>
</body>
</html>
