<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
        <meta charset="UTF-8">
        <title>도서 검색 결과</title>
        <link rel="stylesheet" th:href="@{/css/naver/listbynaver.css}">
</head>
<body>
<div layout:fragment="content" id="contents">
    <section>
        <form class="search-form" th:action="@{/search-books}" method="get">
            <input type="text" name="query" placeholder="검색어 입력" th:value="${query}">
            <button type="submit">검색</button>
        </form>
        <h1>도서 검색 결과</h1>
        <div class="book-card-container">
            <div class="book-card" th:each="item : ${bookList}">
                <div class="book-card-image">
                    <img th:src="${item.image}" alt="도서 이미지"/>
                </div>
                <div class="book-card-content">
                    <h2><a th:href="@{/bookDetail(isbn=${item.isbn})}" th:text="${item.title}"></a></h2>
                    <p th:text="${item.author}"></p>
                    <p th:text="${item.discountFormatted} + ' 원'"></p>
                </div>
            </div>
        </div>

        <div class="pagination-buttons">
            <form th:if="${start > 1}" th:action="@{/search-books}" method="get" style="display: inline;">
                <input type="hidden" name="query" th:value="${query}">
                <input type="hidden" name="display" th:value="${display}">
                <input type="hidden" name="start" th:value="${start - 10}">
                <input type="hidden" name="sort" th:value="${sort}">
                <button type="submit">Previous</button>
            </form>

            <form th:if="${hasNext}" th:action="@{/search-books}" method="get" style="display: inline;">
                <input type="hidden" name="query" th:value="${query}">
                <input type="hidden" name="display" th:value="${display}">
                <input type="hidden" name="start" th:value="${start + 10}">
                <input type="hidden" name="sort" th:value="${sort}">
                <button type="submit">Next</button>
            </form>

        </div>

    </section>

</div>
</body>
</html>
