<!--html ~layout~-->
<html layout:decorate="~{layout}">
<!-- layout:fragment 시작~ -->
<div layout:fragment="content" id="contents">
    <!-- section 시작 -->
    <section>
    <h1>게시판</h1>
    <!--table = board-table -->
    <table class="board-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Reply Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards.content}">
            <td th:text="${board.id}"></td>
            <td><a th:href="@{/boards/{id}(id=${board.id})}" th:text="${board.title}"></a></td>
            <td th:text="${board.replyCount}"></td>
        </tr>
        </tbody>
    <!--table = board-table -->
    </table>

    <a class="create-button" th:href="@{/boards/new}">게시글 생성</a>
    <form class="search-form" th:action="@{/boards}" method="get">
        <input type="text" name="title" placeholder="검색어 입력">
        <button type="submit">검색</button>
    </form>
        <!-- 페이지 시작 -->
        <div class="pagination">
            <a class="prev-button" th:if="${boards.hasPrevious()}" th:href="@{/boards(page=${boards.number - 1}, size=${boards.size})}">Previous</a>
            <a class="next-button" th:if="${boards.hasNext()}" th:href="@{/boards(page=${boards.number + 1}, size=${boards.size})}">Next</a>
        </div>
        <!-- section 끝 -->
    </section>
    <!-- layout:fragment 끝~ -->
</div>
<!--html ~layout~-->
</html>
