<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>BW 문고</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--script-->
    <script src="/js/script.js"></script>
    <script src="/js/user/logout/logout.js"></script>
</head>
<body>
<!-- header 시작 -->
<header>
    <nav class="user-nav">
        <ul>
            <!-- 로그인 상태가 아니면 로그인 링크를 보여줍니다 -->
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/login}">로그인</a>
            </li>
            <!-- 로그인 상태가 아니면 회원가입 링크를 보여줍니다 -->
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/signup}">회원가입</a>
            </li>
            <!-- 로그인 상태이면 로그아웃 링크를 보여줍니다 -->
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">로그아웃</a>
            </li>
        </ul>
    </nav>
    <hr>
    <div class="header-content">
        <div class="logo-container">
            <img src="/img/logo.png" alt="사이트 로고" class="logo">
        </div>
        <div class="site-name">
            <h1>Book Store</h1>
        </div>
        <div class="user-actions">
            <ul>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/cart/list}" class="cart-link">
                        <img src="/img/cartImg.png" alt="장바구니 링크" class="cart-img"/>
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/profile}" class="profile-link">
                        <img src="/img/profile.png" alt="프로필 링크" class="profile-img"/>
                    </a>
                </li>
                <li sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <a th:href="@{/accountDashboard}" class="admin-link">
                        <img src="/img/admin.png" alt="유저 관리 탭" class="admin-img"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- header 끝 -->

<!-- nav 시작  -->
<nav>
    <ul id="menu">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/boards}">Boards</a></li>
<!--        <li><a th:href="@{/about}">About</a></li>-->
        <li><a th:href="@{/search-books}">Book</a></li>
    </ul>
</nav>
<!-- nav 끝-->

<!-- content 부분 -->
<div id="contents">
    <th:block layout:fragment="content">
    </th:block>
</div>

<!-- footer -->
<footer>
    <p>&copy; 2024 게시판. All rights reserved.</p>
</footer>
</body>
</html>
