<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 중복 확인</title>

    <link rel="stylesheet" th:href="@{/css/user/checkusername.css}">
</head>
<body>

<div class="container">
    <h2>아이디 중복 확인</h2>
    <div class="input-group">
        <label for="username">아이디 입력:</label>
        <input type="text" id="username" name="username" placeholder="아이디를 입력하세요."
               minlength="3" maxlength="10" required>
        <button type="button" id="checkUsernameBtn">중복 확인</button>
        <button type="button" id="checkUseBtn" style="display: none;">아이디 사용</button> <!-- Initially hidden -->

    </div>

    <!-- Hidden input to store the username availability -->
    <input type="hidden" id="usernameAvailable" name="usernameAvailable" value="false">

</div>

<!-- Modal and Overlay -->
<div id="overlay" class="overlay"></div>
<div id="modal">
    <p id="modalMessage">아이디를 입력하세요</p>
    <button id="modalCloseBtn">Close</button>
</div>
<script th:src="@{/js/user/checkusername/checkusername.js}"></script>
</body>
</html>
