<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <th:block layout:fragment="head">
        <title>로그인 페이지</title>
        <link rel="stylesheet" th:href="@{/css/user/loginForm.css}">
        <script th:src="@{/js/user/login/login.js}"></script>
    </th:block>
</head>
<body>
<div layout:fragment="content" id="contents">
    <div th:if="${param.error}" class="form-group">
        <span th:text="${exception}?: '잘못된 아이디나 암호입니다'" class="alert alert-danger"></span>
    </div>
    <section>
        <form id="loginForm" th:action="@{/login}" method="post">
            <h2>Login</h2>
            <input type="hidden" th:value="secret" name="secret_key"/>

            <div class="form-group">
                <label for="username">아이디</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn-primary">Login</button>
        </form>
    </section>
</div>
</body>
</html>
