<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <th:block layout:fragment="head">
        <link rel="stylesheet" th:href="@{/css/user/signUpForm.css}">
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script th:src="@{/js/user/join/signUpForm.js}"></script>
        <script th:src="@{/js/user/checkusername/checkusername.js}"></script>
    </th:block>
</head>
<body>
<div layout:fragment="content" id="contents">

    <!-- 회원가입 폼 -->
    <form id="signupForm" th:action="@{/signup}" method="post">
        <!--아이디 입력창-->
        <div class="signup-form-group">
            <label for="username">Id</label>
            <input type="text" id="username" name="username" minlength="3" maxlength="10" placeholder="아이디를 입력하세요."
                   readonly required>
            <button type="button" id="checkUsernameBtn" class="btn-check">ID 입력창</button>
            <div id="tooltip" class="tooltip">ID 입력창으로 입력할 수 있습니다.</div>
        </div>

        <!-- 아이디 체크 모달창 -->
        <div id="usernameCheckModal" class="modal">
            <div class="modal-content">
                <p id="modalMessage"></p>
                <button id="modalCloseBtn" class="btn-close">Close</button>
            </div>
        </div>

        <div class="signup-form-group">
            <label for="nickname">nickname</label>
            <input type="text" id="nickname" name="nickname" minlength="2" maxlength="8" required>
        </div>

        <div class="signup-form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="signup-form-group">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" id="passwordConfirm" name="passwordConfirm" required>
        </div>

        <div class="signup-form-group">
            <label for="age">Age</label>
            <input type="number" id="age" name="age" required>
        </div>

        <!-- 주소 입력 필드 및 우편번호 찾기 버튼 추가 -->
        <div class="signup-form-group">
            <label for="postcode">우편번호</label>
            <input type="text" id="postcode" name="postcode" placeholder="우편번호" readonly>
            <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
        </div>

        <div class="signup-form-group">
            <label for="roadAddress">도로명주소</label>
            <input type="text" id="roadAddress" name="roadAddress" placeholder="도로명주소" readonly>
        </div>

        <div class="signup-form-group">
            <label for="jibunAddress">지번주소</label>
            <input type="text" id="jibunAddress" name="jibunAddress" placeholder="지번주소" readonly>
        </div>

        <div class="signup-form-group">
            <label for="detailAddress">상세주소</label>
            <input type="text" id="detailAddress" name="detailAddress" placeholder="상세주소">
        </div>

        <div class="signup-form-group">
            <label for="extraAddress">참고항목</label>
            <input type="text" id="extraAddress" name="extraAddress" placeholder="참고항목" readonly>
        </div>

        <div id="guide" style="color:#999;display:none"></div>

        <!-- 메시지를 표시할 div 추가 -->
        <div id="message" style="color:red;"></div>

        <!-- Submit 버튼 -->
        <div class="signup-form-group">
            <button type="submit" class="btn-submit">회원가입</button>
        </div>
    </form>
</div>
</body>
</html>
